<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h2>Start by writing a question</h2>
  <mat-form-field appearance="outline" required>
    <mat-label>New Question</mat-label>
    <input [(ngModel)]="workingQuestion"
           matInput
           type="text"
           name="question">
  </mat-form-field>
  <button mat-button (click)="addQuestion()">Add Question</button>
  <mat-divider></mat-divider>
  <div #mainContainer class="main-container">
      <div *ngFor="let question of questions; let i = index" dnd-sortable-container [sortableData]="questions"
          dnd-sortable [sortableIndex]="i" 
          [dragEnabled]="true" 
          [dragData]="question"
          dnd-droppable 
          dnd-sortable-handle>
        <h2>{{question}}</h2>
        <mat-form-field appearance="outline">
          <mat-label>Response</mat-label>
          <input matInput type="text" >
        </mat-form-field>
        <button (click)="deleteQuestion(question)" mat-button>delete</button>
      </div>
  </div>
</div>
